body {
  font-family: Quando, sans-seif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #ffffff;
  margin: 0;
}

.timer-container {
  background-color: white;
  padding: 30px;
  border-raidus: 10px;
  border: 20px solid;
  border-image: url("https://file.garden/ZtOzYrPCZ1cAh7gi/2025_10_05_0x7_Kleki.png") 28 fill round;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

#timer-display {
  font-size: 4em;
  margin-bottom: 20px;
}

.controls button {
  font-family: Quando, sans-seif;
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #aabbcc;
  color: #ffffff;
  font-size: 1em;
}

.controls button:hover {
  background-color: #869fb8;
}

.quando-regular {
  font-family: "Quando", serif;
  font-weight: 400;
  font-style: normal;
}
